In [25]:
import numpy as np
import pandas as pd
import math
import array as arr

In [26]:
pd.__version__

'1.3.5'

In [27]:
np.__version__

'1.21.6'

In [28]:
data_base = pd.read_csv('base.csv')

In [29]:
print(data_base)

                   Nombre  Pop  Rock  Rap  Clasica  Reggaeton  Kpop  Salsa  \
0        Sebastian Arango    9     7    8        3         10     2      8
1        Valentina Arango    8    10    7        8          3     1     10
2           Laura Barrera    8     7    1        1         10     5     10
3      Natalia Betancourt    9     4    6        5          9     1      2
4        Isabella Gallego   10     9    7        4          8     1      4
5   Jose Gabriel Gonzalez    8     9    3        7          2     5      2
6     Alejandro Hernandez    7    10    5        7          2     4      8
7          Camilo Guevara    9    10   10        8         10     5     10
8        Natalia Martinez   10    10    6        5          8     7      7
9           Paula Morales    8     8    2       10          8     5      5
10           Laura Orozco   10    10    8       10          4    10      4
11           Lina Peralta    9    10    4        8          9     8      6
12     Maria Jose Polanco   10     8    8        5          7     7      2
13       Juan Pablo Sanin    7     6   10        5         10     7      9
14         Salomon Sarria    8    10   10        5         10     5     10
15          Valeria Ulloa   10     6    8        6         10     1      7
16          Estiven Reyes    8    10    5        6          1     5      6

    Latina
0        8
1        5
2       10
3       10
4        6
5        4
6        8
7        9
8        7
9        9
10       4
11       5
12      10
13       9
14      10
15       9
16       6

In [30]:
def Average(lst):
    return sum(lst) / len(lst)

In [31]:
data_base_table = [data_base.Pop, data_base.Rock, data_base.Rap, data_base.Clasica, data_base.Reggaeton, data_base.Kpop, data_base.Salsa, data_base.Latina]
data_base_table_avg = []
for item in data_base_table:
  data_base_table_avg.append(round(Average(item), 2))

print("Naïve Average")
print(data_base_table_avg)

Naïve Average
[8.71, 8.47, 6.35, 6.06, 7.12, 4.65, 6.47, 7.59]

In [34]:
data_base_table_avg_LM = []

for item in data_base_table_avg:
  if item >= 5:
    data_base_table_avg_LM.append(item)
  
print("Least Misery") 
print( data_base_table_avg_LM)

Least Misery
[8.71, 8.47, 6.35, 6.06, 7.12, 6.47, 7.59]

In [36]:
data_base_table_avg_MP = []

for item in data_base_table_avg:
  if item >= 8:
    data_base_table_avg_MP.append(item)

print("Maximum Pleasure")
print(data_base_table_avg_MP)

Maximum Pleasure
[8.71, 8.47]

In [39]:
finalItem = 0
stds = []

for item in data_base_table_avg:
  stds.append(np.std(item))
  
print(stds)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]